#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.photograph-header > div > h2 {
    font-size: 2.5em;
    color: #D3573C;
    margin: 0;
}

.photograph-header > div > h3 {
    color: #901C1C;
    margin: 0;
}

.photograph-header > img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photograph-media {
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photograph-media_tri {
    display: flex;
    gap: 20px;
    position: relative;
}

.photograph-media_tri_button {
    display: flex;
    flex-direction: column ;
    font-size: 1em;
    color: white;
    width: 120px;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    position: absolute;
    padding: 0px 10px;
    left: 80px;
    top: 10px;
}

.fa-chevron-up {
    opacity: 0;
    position: absolute;
    right: 13px;
    top: 16px;
    font-size: 0.7em;
}
.fa-chevron-down {
    position: absolute;
    right: 13px;
    top: 16px;
    font-size: 0.7em;
}

.photograph-media_tri_button > div {
    padding: 10px;
}

.photograph-media_tri_button_popularite {
    display: flex;
    /* border-bottom: 1px solid #FAFAFA; */
}

.photograph-media_tri_button_date {
    display: none;
    border-bottom: 1px solid #FAFAFA;
}

.photograph-media_tri_button_titre {
    display: none;
    padding-bottom: 11px;
}

.photograph-media_tri_button > div > p {
    margin: 0;
}

.photograph-media_display {
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.photograph-media_display > div {
    width: 20vw;
}

.photograph-media_display img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.photograph-media_display > div > div {
    display: flex;
    justify-content: space-between;
} 

.photograph-media_display > div > div > h2 {
    color: #901C1C;
    margin: 0;
} 

.photograph-media_display > div > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.photograph-media_display > div > div > div > p {
    margin: 0;
}

.photograph-media_display > div > div > div > img {
    width: 15px;
    height: 15px;
    filter: invert(13%) sepia(70%) saturate(3146%) hue-rotate(352deg) brightness(100%) contrast(86%);
} 

.photograph-media_display video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.photograph-encart {
    position: fixed;
    right: 20px;
    bottom: 0;
    background-color: #D3573C;
    width: 500px;
    height: 40px;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


